body{
  background-color: #282c34;
}

.productListCard{
  padding-bottom: 40px;
}
.productPageImg{
  display: inline-block;
}

.productPageInfoContainer{
    display: inline-block;
    position: relative;
    width: 400px;
    top: 90px
}
.reviewInfo{
    width: 300px;
}
.reviewsContainer{
    position: relative;
    top:100px;
}
.rating{
  display: inline-block;
  position: relative;
  top: -100px;
  left: 100px;
  text-align: center;
}

.reviewList{
  padding: 64px;
  padding-top: 30px;
}
.helpInfo{
  color:white;
  top: -330px;
  position: relative;
}

.helpLink{
  color: orange;
}
.reviewRating{
  display: inline-block;
  text-align: center;
  position: relative;
  left: 80%;
  top: -100px;
}
.ratingNumber{
  margin-top: 10px;
}

.ratingLabel{
  margin-bottom: 0;
}

.productPage{
  text-align: left;
  padding: 20px
}

.view{
  background-color: white;
  width: 80%;
  height: 90%;
  position: relative;
  top: -380px;
  margin-left: auto;
  margin-right: auto;
}
.authContainer{
  display: inline-block;
  float: right;
}

.App {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  height: 40vmin;
}
.logo-container{
  position: relative;
  float: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
